{% csrf_token %}
<label>Status:</label><br/>
<select name="status">
    {% for status in statuses %}
        <option value="{{ status.0 }}">{{ status.1 }}</option>
    {% endfor %}
</select><br/>
<label>Title:</label><br/>
<input type="text" name="title" value="{{ sketchpad.title }}"/><br/>
<label>Description:</label><br/>
<input type="text" name="description" value="{{ sketchpad.description }}"/><br/>
<label for="date_of_completion">Deadline:</label><br/>
<input type="date" id="date_of_completion" name="date_of_completion" value="{{ sketchpad.date_of_completion }}">
<br>
<br>
<input type="submit" value="{{ button_text }}">
<br>
