<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<h1>Add Task</h1>

<form action="/tasks/add/" method="post">
    {% csrf_token %}
    <label>Status:</label><br/>
    <label>
        <select name="status">
            {% for value, status in statuses %}
                <option value="{{ value }}">{{ status }}</option>
            {% endfor %}
        </select>
    </label><br/>
    <label>Description:</label><br/>
    <label>
        <input type="text" name="description"/>
    </label><br/>
    <label>Deadline:</label><br/>
    <label>
        <input type="date" name="dead_line"/>
    </label><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>
<br>
<p><a href="/">Back to homepage</a></p>
</body>
</html>