{% extends "base.html" %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_sketchpad" %}">Add Note</a>
    </li>
{% endblock %}
{% block content %}
    <h1>TODO LIST</h1>
    <div class="row">
        {% for sketchpad in sketchpads %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ sketchpad.title }}</h5>
                        <a href="{% url "sketchpad_view" sketchpad.pk %}" class="card-link">MORE INFORMATION</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


