{% extends "base.html" %}

{% block title %} NOTE VIEW {% endblock %}

{% block content %}
    <h1> NOTE VIEW </h1>
    <p>
        <b><i>Title:</i></b> {{ sketchpad.title }}
    </p>

    <p>
        <b><i>Description:</i></b> {{ sketchpad.description }}
    </p>
    <p>
        <b><i>Status:</i></b> {{ sketchpad.status }}
    </p>

    <p>
        <b><i>Deadline:</i></b>
        {% if sketchpad.date_of_completion == None %}
            {{ "" }}
        {% else %}
            {{ sketchpad.date_of_completion }}
        {% endif %}
    </p>
    <br/>
    <a href="{% url "update_sketchpad" sketchpad.pk %}">UPDATE NOTE</a>
    <h5> *</h5>
    <a href="{% url "delete_sketchpad" sketchpad.pk %}">DELETE NOTE</a>
    <h5> *</h5>
    <a href="{% url "index" %}">BACK TO HOMEPAGE</a>


{% endblock %}