{% extends "base.html" %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_sketchpad" %}">Add Note</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "update_sketchpad" sketchpad.pk %}">Update Note</a>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sketchpadDeleteModal">
            Delete
        </button>
    </li>
{% endblock %}

{% block title %} NOTE VIEW {% endblock %}

{% block content %}
    <br/>
    <h1> NOTE VIEW </h1>
    <p>
        <b><i>Title:</i></b> {{ sketchpad.title }}
    </p>

    <p>
        <b><i>Description:</i></b> {{ sketchpad.description }}
    </p>
    <p>
        <b><i>Status:</i></b> {{ sketchpad.status }}
    </p>

    <p>
        <b><i>Deadline:</i></b>
        {% if sketchpad.date_of_completion == None %}
            {{ "" }}
        {% else %}
            {{ sketchpad.date_of_completion }}
        {% endif %}
    </p>
    <br/>
    <a href="{% url "index" %}">BACK TO HOMEPAGE</a>

    <div class="modal fade" id="sketchpadDeleteModal" tabindex="-1" aria-labelledby="sketchpadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sketchpadDeleteModal">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are sure delete this note - "{{ sketchpad.title }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url "delete_sketchpad" sketchpad.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}