<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <h1 style="display: inline-block">
            {{ task.description }}
        </h1>
        <p style="display: inline-block">
            {{ task.add_task|date:"Y-m-d" }}
        </p>
        <h3>
            {{ task.created_task }}
        </h3>
        <h3>
            {{ task.dead_line }}
        </h3>
        <p>
            {{ task.get_status_display }}
        </p>
        <br>
        <a href="/">Back to homepage</a>
</body>
</html>